#fundo{background-color: #9C9C9C}
#titulo{text-align: center;}
#espaco{margin: 20px 25px;}

 #conteudo_principal{ width: 97.5%;min-height: 250px;float: left;border:1px solid #CCC;margin: 20px 15px; text-align: center;}

 body{
   background-color: #f3f5f9;}



